:root {
  --main-color: #9dc8bf;
  --color-a: #ffff;
  --cards-transparent: #c1f5ea;
  --color-title: #338273;
}
a {
  color: var(--color-a);
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  height: 100%;
}
/* burger menu */
.burger-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s;
  backdrop-filter: blur(8px);
}

/* burger menu media queri burger */
@media (max-width: 768px) {
  .burger-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.5s;
    backdrop-filter: blur(8px);
  }
  .burger-container:target {
    opacity: 1;
    visibility: visible;
  }
  .win-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .burger-menu {
    position: absolute;
    top: 0;
    right: 269px;
    width: 34%;
    height: 100%;
    z-index: 3;
  }
  .burger-close {
    position: absolute;
    top: 26px;
    right: 22px;
    color: #000;
    z-index: 10;
    background: beige;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px;
    padding-top: 3px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.8s;
  }
  .burger-close:hover {
    transform: scale(1.2);
    transform: rotate(360deg);
    transition: all 0.8s;
  }
  .burger-menu_list {
    padding-top: 50px;
    line-height: 3;
  }
  .burger-menu_list li {
    font-size: 26px;
  }
  .li {
    align-items: center;
    display: flex;
  }
}
@media (max-width: 425px) {
  .burger-menu {
    position: absolute;
    top: 0;
    width: 220px;
    right: 100px;
    height: 100%;
    z-index: 3;
  }
  .burger-menu_list li {
    font-size: 20px;
  }
  .burger-menu_list {
    padding-top: 95px;
    line-height: 3;
  }
}
@media (max-width: 375px) {
  .burger-menu {
    width: 230px;
    left: 87px;
  }
}
@media (max-width: 320px) {
  .burger-menu {
    width: 220px;
    left: 50px;
  }
}

/* media queri burger */

@media (max-width: 768px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
    margin-left: 87vh;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

/*  */

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  background-color: var(--main-color);
  font-family: sans-serif;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.header__nav-list :hover {
  color: #0b332a;
  transition: all 0.5s ease;
}
.header__nav-list :focus {
  text-decoration: underline #bab2b2;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}
.header__nav-list li {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header__nav-list li :last-child {
  margin-right: 20px;
}

/* content */

.horizontal {
  position: relative;
  top: 222px;
}
.vertical {
  position: relative;
  transform: rotate(90deg);
  width: 433px;
  top: 241px;
  left: -7px;
}

.section {
  background-color: #d8f5f0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(515px, 1fr));
  justify-items: center;
  padding: 70px;
  min-height: 100%;
}

/* .section__photo {
  margin-right: 40px;
} */
.section__photo img {
  border-radius: 8%;
}

.section__title {
  font-weight: 300;
  font-size: 40px;
  color: #338273;
  margin: 0px 0px 18px 17px;
}
.section__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 192px);
  /* gap: 81px; */
  align-items: center;
  background-color: #338273;
  padding: 30px;
  max-width: 100%;
  min-height: 100%;
  border-radius: 5%;
  text-align: center;
}
.section__lines {
  position: relative;
  display: inline-block;
}
/* .section__lines:before {
  content: '';
  height: 3px;
  min-width: 67vh;
  background: #fff;
  position: absolute;
  left: 4vh;
  top: 41vh;
  border-radius: 2px;
} */
.section__lines:before {
  content: '';
  height: 3px;
  min-width: 77vh;
  background: #fff;
  position: absolute;
  left: 3vh;
  top: 34vh;
  border-radius: 2px;
}
.section__lines:after {
  content: '';
  min-height: 58vh;
  width: 3px;
  background: #fff;
  position: absolute;
  left: 38vh;
  top: 4vh;
  border-radius: 2px;
}
/* .section__lines:after {
  content: '';
  min-height: 50vh;
  width: 3px;
  background: #fff;
  position: absolute;
  left: 38vh;
  top: 18vh;
  border-radius: 2px;
} */

.section__block {
  display: grid;
  grid-template-columns: 135px 119px;
  grid-template-rows: 94px;
  align-items: center;
  margin: auto;
}
.section__number {
  font-size: 80px;
  color: #c1f5ea;
}
.section__subtitle {
  font-size: 20px;
  color: #c1f5ea;
}

/* media queris */

@media screen and (max-width: 1024px) {
  .vertical {
    position: relative;
    transform: rotate(90deg);
    width: 413px;
    top: 231px;
    left: -13px;
  }
  .section__photo img {
    min-width: 100%;
    min-height: 100%;
  }
  .section__blocks {
    grid-template-columns: 100px 100px;
    grid-template-rows: 61px 150px;
    gap: 115px;
    width: 448px;
    height: 364px;
  }
  .section__number {
    font-size: 75px;
  }
  .section__block {
    grid-template-columns: 121px 119px;
    grid-template-rows: 94px;
  }
  .section__title {
    font-weight: 200;
    font-size: 30px;
  }
}
@media screen and (max-width: 1019px) {
  /* .section__lines:before {
    content: '';
    height: 3px;
    min-width: 67vh;
    background: #fff;
    position: absolute;
    left: 4vh;
    top: 37vh;
    border-radius: 2px;
  }
  .section__lines:after {
    content: '';
    min-height: 50vh;
    width: 3px;
    background: #fff;
    position: absolute;
    left: 34vh;
    top: 14vh;
    border-radius: 2px;
  } */
}
@media screen and (max-width: 1000px) {
  .section__blocks {
    grid-template-columns: 100px 100px;
    grid-template-rows: 61px 150px;
    gap: 115px;
    width: 378px;
    height: 364px;
  }
  /* .section__lines:before {
    content: '';
    height: 3px;
    min-width: 58vh;
    background: #fff;
    position: absolute;
    left: 4vh;
    top: 37vh;
    border-radius: 2px;
  } */
  .section__block {
    grid-template-columns: 97px 67px;
    grid-template-rows: 94px;
  }
  .section__subtitle {
    font-size: 14px;
    line-height: 2;
    color: #c1f5ea;
  }
  .section__number {
    font-size: 50px;
  }
  .header__nav-list li :last-child {
    margin-right: 20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 946px) {
  .section__blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 77px);
    gap: 123px;
    max-width: 100%;
    min-height: 100%;
  }
  .section__block {
    grid-template-columns: 67px 61px;
    grid-template-rows: 105px;
  }
  .section__subtitle {
    font-size: 10px;
    line-height: 2;
    color: #c1f5ea;
  }
  .section__number {
    font-size: 40px;
  }
  .section__title {
    font-weight: 300;
    font-size: 40px;
    color: #338273;
    margin: 37px 14px;
    text-align: center;
  }
  /* .section__lines {
    position: absolute;
    bottom: -164px;
    left: 291px;
  }
  .section__lines:after {
    content: '';
    min-height: 57vh;
    width: 2px;
    background: #fff;
    position: absolute;
    left: 29vh;
    top: 14vh;
    border-radius: 2px;
    background-size: contain;
  }
  .section__lines:before {
    content: '';
    height: 2px;
    min-width: 54vh;
    background: #fff;
    position: absolute;
    left: 2vh;
    top: 42vh;
    border-radius: 2px;
    background-size: contain;
  } */
  .section__photo img {
    width: 100%;
    min-height: 100%;
  }
  .header-phone {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  /* .section__lines:before {
    content: '';
    height: 2px;
    min-width: 300px;
    background: #fff;
    position: absolute;
    left: 4vh;
    top: 43vh;
    border-radius: 2px;
  } */
}
@media screen and (max-width: 920px) {
  /* .section__lines {
    position: absolute;
    bottom: -164px;
    left: 270px;
    display: inline-block;
  } */
}
@media screen and (max-width: 850px) {
  /* .section__lines {
    position: absolute;
    bottom: -164px;
    left: 29%;
    display: inline-block;
  } */
}

@media screen and (max-width: 795px) {
  /* .section__photo {
    margin-right: 10px;
  } */
  .header__nav-list li {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}
@media screen and (max-width: 755px) {
  .hamb {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .section__blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 91px;
    min-width: 0;
    min-height: 0;
  }
  .header__nav-list {
    display: none;
  }
}

@media screen and (max-width: 656px) {
  .section {
    background-color: #d8f5f0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    justify-items: center;
    padding: 70px;
    min-height: 100%;
  }
}

@media screen and (max-width: 584px) {
  .section__title {
    font-weight: 300;
    font-size: 40px;
    color: #338273;
    margin: 36px 0px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  /* .section__lines {
    position: absolute;
    top: 525px;
    left: -138px;
    display: inline-block;
  } */
  .section__grid {
    width: 43vh;
    display: contents;
  }
  .section__blocks {
    gap: 110px;
    max-width: 100%;
    min-height: 100%;
  }
  .section__title {
    font-weight: 300;
    font-size: 24px;
    color: #338273;
    margin: 22px 0px;
    text-align: center;
  }

  .section__block {
    grid-template-columns: 72px 42px;
    grid-template-rows: 78px;
  }
}
@media screen and (max-width: 466px) {
  .section__blocks {
    /* grid-template-rows: repeat(2, 113px); */
    gap: 64px;
    max-width: 100%;
    min-height: 100%;
  }
  .section__grid {
    width: 45vh;
    position: relative;
    right: 29px;
    display: inline-block;
    justify-items: center;
  }
  .horizontal {
    position: relative;
    top: 222px;
    width: 343px;
  }
}

@media screen and (max-width: 449px) {
  .section__title {
    font-weight: 300;
    font-size: 27px;
    color: #338273;
    margin: 36px 0px;
    text-align: center;
  }
  .section__number {
    font-size: 35px;
  }
  /* .section__lines:before {
    content: '';
    height: 2px;
    min-width: 328px;
    background: #fff;
    position: absolute;
    left: 34vh;
    top: 43vh;
    border-radius: 2px;
    background-size: contain;
  } */
}

@media screen and (max-width: 436px) {
  /* .section__lines {
    position: absolute;
    top: 547px;
    left: -160px;
    display: inline-block;
  } */
  .section__blocks {
    grid-template-rows: repeat(2, 127px);
    /* gap: 47px; */
    max-width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 431px) {
  /* .section {
    display: block;
    text-align: center;
    min-height: 100%;
  } */
}

@media screen and (max-width: 430px) {
  .section__blocks {
    grid-template-rows: repeat(2, 161px);
    gap: 25px;
    max-width: 100%;
    min-height: 100%;
  }
  .burger-menu {
    position: absolute;
    top: 0;
    right: 94px;
    width: 51%;
    height: 100%;
    z-index: 3;
    background-color: rgb(109, 105, 105);
    opacity: 0.9;
  }
  .burger-menu_list li {
    font-size: 20px;
  }
  .burger-menu_list {
    padding-top: 50px;
    line-height: 4;
  }
  .vertical {
    position: relative;
    transform: rotate(90deg);
    width: 413px;
    top: 231px;
    left: -34px;
  }

  .section__block {
    grid-template-columns: 77px 64px;
    grid-template-rows: 93px;
  }
  .section__number {
    font-size: 32px;
  }
  .section__block img {
    width: 40px;
  }
  .section__subtitle {
    font-size: 11px;
  }
  .section__photo img {
    width: 100%;
    height: 100%;
  }

  /* .section {
    height: 100%;
  } */
  .hamb {
    display: flex;
    align-items: center;
    margin-left: 35vh;
  }
}

@media screen and (max-width: 426px) {
  .section__title {
    font-weight: 300;
    font-size: 27px;
    color: #338273;
    margin: 22px 0px;
    text-align: center;
  }
}
@media screen and (max-width: 416px) {
  .section__title {
    font-weight: 300;
    font-size: 22px;
    color: #338273;
    margin: 21px 0px;
    text-align: center;
  }
  /* .section__lines {
    position: absolute;
    top: 474px;
    left: 1px;
    display: inline-block;
  } */
}
@media screen and (max-width: 415px) {
  .hamb {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  /* .section__lines {
    position: absolute;
    top: 456px;
    left: -2px;
    display: inline-block;
  } */
}
@media screen and (max-width: 395px) {
  /* .section__lines {
    position: absolute;
    top: 456px;
    left: -10px;
    display: inline-block;
  } */
  /* .section__blocks {
    grid-template-columns: 45px 126px;
    grid-template-rows: 98px 142px;
    gap: 86px;
    width: 254px;
    height: 329px;
  } */
  .section__block {
    grid-template-columns: 62px 47px;
    grid-template-rows: 93px;
  }
}

@media screen and (max-width: 389px) {
  .section__blocks {
    grid-template-columns: 88px 125px;
    grid-template-rows: 87px 225px;
    gap: 73px;
    width: 100%;
    /* height: 0%; */
  }
  .burger-menu {
    position: absolute;
    top: 0;
    right: 55px;
    width: 66%;
    height: 100%;
    z-index: 3;
    background-color: rgb(109, 105, 105);
    opacity: 0.9;
  }
}
@media screen and (max-width: 381px) {
  .section__block {
    grid-template-columns: 53px 48px;
    grid-template-rows: 93px;
  }
  /* .section__lines {
    position: absolute;
    top: 396px;
    left: -17px;
    display: inline-block;
  }
  .section__lines:before {
    left: 84px;
    min-width: 243px;
  } */
}
@media screen and (max-width: 376px) {
  .hamb {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .section__blocks {
    grid-template-columns: 44px 216px;
    grid-template-rows: 87px 236px;
    gap: 73px;
    width: 100%;
    /* height: 329px; */
  }
}

@media screen and (max-width: 375px) {
  .section__block {
    grid-template-columns: 59px 31px;
    grid-template-rows: 65px;
  }
  .section__number {
    font-size: 36px;
  }
  .section__block img {
    width: 28px;
  }
  .section__subtitle {
    font-size: 10px;
  }
  .section__photo img {
    width: 100%;
    height: 100%;
  }
  /* .section {
    height: 100%;
  } */
  .section__title {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 14px;
    margin: 0px;
  }
  .header__logo img {
    width: 55px;
  }
  .hamb {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (max-width: 367px) {
  .section__grid {
    width: 30vh;
    position: relative;
    right: 29px;
    display: inline-block;
    justify-items: center;
  }
  .horizontal {
    position: relative;
    top: 222px;
    width: 248px;
  }
  .section__blocks {
    grid-template-columns: 31px 93px;
    grid-template-rows: 88px 247px;
    gap: 84px;
    width: 100%;
    /* height: 329px; */
  }
  .vertical {
    position: relative;
    transform: rotate(90deg);
    width: 413px;
    top: 231px;
    left: -77px;
  }
  .section__block {
    grid-template-columns: 47px 42px;
    grid-template-rows: 74px;
  }
  .section__subtitle {
    font-size: 8px;
  }
  .section__number {
    font-size: 30px;
  }
}

@media screen and (max-width: 365px) {
  /* .section__lines {
    position: absolute;
    top: 444px;
    left: -20px;
    display: inline-block;
  } */
}
@media screen and (max-width: 356px) {
  /* .section__lines {
    position: absolute;
    top: 431px;
    left: -20px;
    display: inline-block;
  } */
}

@media screen and (max-width: 349px) {
  /* .section__lines:before {
    content: '';
    height: 2px;
    min-width: 228px;
    background: #fff;
    position: absolute;
    left: 81px;
    top: 27vh;
    border-radius: 2px;
    background-size: contain;
  } */
  /* .section__lines::after {
    content: '';
    min-height: 340px;
    width: 2px;
    background: #fff;
    position: absolute;
    left: 200px;
    top: 0px;
    border-radius: 2px;
    background-size: contain;
  } */
}
@media screen and (max-width: 340px) {
  .section__blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 109px 171px;
    gap: 51px;
    min-width: 100%;
    min-height: 100%;
  }
  
  .section__block {
    grid-template-columns: 27px 26px;
    grid-template-rows: 80px;
  }
  .section__number {
    font-size: 18px;
  }
  .section__subtitle {
    font-size: 7px;
  }
}



@media screen and (max-width: 320px) {
  .section__photo img {
    width: 100%;
    height: 100%;
  }
  
  .section__title {
    font-size: 15px;
  }
  
  
  .section__block {
    grid-template-columns: 42px 25px;
    grid-template-rows: 52px;
  }
  .section__number {
    font-size: 25px;
  }
  .section__block img {
    width: 20px;
  }
  .section__subtitle {
    font-size: 9px;
  }

  
  .hamb {
    display: flex;
    align-items: center;
    margin-left: 25vh;
  }
}
/* mediaqueri */

/* info block */

.boxes-transparent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  position: relative;
  top: -340px;
}

.box-trans1 {
  background-color: antiquewhite;
  text-align: center;
  width: 100px;
  height: 100px;
  opacity: 0.4;
}
.box-trans2 {
  background-color: antiquewhite;
  text-align: center;
  width: 100px;
  height: 100px;
  opacity: 0.4;
}
.box-trans3 {
  background-color: antiquewhite;
  text-align: center;
  width: 100px;
  height: 100px;
  opacity: 0.4;
}
.box-trans4 {
  background-color: antiquewhite;
  text-align: center;
  width: 100px;
  height: 100px;
  opacity: 0.4;
}

.info-block__photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  margin-top: 30px;
}

.box-trans1 {
  width: 255px;
  height: 340px;
  background-color: var(--cards-transparent);
  opacity: 0.6;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.box-trans2 {
  width: 255px;
  height: 340px;
  background-color: var(--cards-transparent);
  opacity: 0.6;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.box-trans3 {
  width: 255px;
  height: 340px;
  background-color: var(--cards-transparent);
  opacity: 0.6;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.box-trans4 {
  width: 255px;
  height: 340px;
  background-color: var(--cards-transparent);
  opacity: 0.6;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/* hover */

.box-trans1:hover {
  /* transform: translateY(200px);
  transition: 0.8s; */
  opacity: 0.2;
  /* background: rgba(205, 214, 219, 0.3); */
  /* filter: blur(100px); */
  /* clip-path: circle(0.1); */
  transform: rotateX(-50deg);
}
.box-trans2:hover {
  /* transform: translateY(200px);
  transition: 0.8s; */
  opacity: 0.2;
  /* background: rgba(205, 214, 219, 0.3); */
  /* filter: blur(100px); */
  /* clip-path: circle(0.1); */
  transform: rotateX(-50deg);
}
.box-trans3:hover {
  /* transform: translateY(200px);
  transition: 0.8s; */
  opacity: 0.2;
  /* background: rgba(205, 214, 219, 0.3); */
  /* filter: blur(100px); */
  /* clip-path: circle(0.1); */
  transform: rotateX(-50deg);
}
.box-trans4:hover {
  /* transform: translateY(200px);
  transition: 0.8s; */
  opacity: 0.2;
  /* background: rgba(205, 214, 219, 0.3); */
  /* filter: blur(100px); */
  /* clip-path: circle(0.1); */
  transform: rotateX(-50deg);
}

/*  */

.transparent-descr__card-title {
  text-align: center;
  margin: 30px 0px;
  font-size: 25px;
  font-weight: bold;
}
.transparent-descr__card-description {
  margin: 30px 56px;
  text-align: center;
  font-size: 20px;
}
.transparent-descr__line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px solid #333;
}

/* input */

.info__block-input {
  display: grid;
  justify-items: center;
  margin-top: 50px;
}

.label-box {
  position: relative;
  width: 270px;
}

.label-box::before,
.label-box::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  bottom: 1px;
  background-color: var(--color-title);
  transition-property: width;
  transition-duration: 0.2s;
}

.label-box::before {
  left: 50%;
}

.label-box::after {
  right: 50%;
}

input:focus ~ .label-box::before,
input:focus ~ .label-box::after {
  width: 50%;
}

input {
  width: 400px;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #757575;
  box-sizing: border-box;
}
@media screen and (max-width: 408px) {
  input {
    width: 326px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #757575;
    box-sizing: border-box;
  }
}

label {
  position: absolute;
  display: block;
  width: 300px;
  bottom: 8px;
  font-size: 18px;
  color: var(--color-title);
  transition: 0.2s ease all;
  pointer-events: none;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
  font-size: 14px;
  transform: translateY(-20px);
}
input:focus {
  outline: none;
}
input:invalid {
  box-shadow: none;
}

/* mediaqueri infoblock */
/* transparent */
/* Karusel-block */

/* Karusel-block */

.karusel-box {
  margin-top: -250px;
  overflow: auto;
}

.karusel__slider {
  display: flex;
  column-gap: 20px;
}

.karusel__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  background-color: var(--main-color);
}
.descr {
  overflow: hidden;
  max-width: 207px;
  color: var(--color-a);
  font-family: sans-serif;
}
.logo-kontact {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.karusel__footer-kontact h2 {
  color: var(--color-a);
  font-family: sans-serif;
}
.karusel__arrow {
  position: relative;
  top: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.arrow-left {
  position: relative;
  cursor: pointer;
}
.arrow-right {
  position: relative;
  cursor: pointer;
}
/* animation slider */

.karusel__slider img {
  min-width: 100%;
  animation: show 0.3s;
}

@keyframes show {
  0% {
    opacity: 20%;
    transform: translateX(100px) 0.5s ease;
  }
}

/* media quari */

@media screen and (max-width: 1024px) {
  .boxes-transparent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    position: relative;
    top: -680px;
    row-gap: 45px;
  }
  .info-block__photo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin-top: 30px;
    position: relative;
    row-gap: 45px;
    top: 45px;
  }

  /* karusel */
  .karusel-box {
    margin-top: -590px;
    overflow: auto;
  }
  .karusel__arrow {
    position: relative;
    top: -323px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .karusel__arrow {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .karusel-box {
    margin-top: 0px;
    overflow: auto;
  }
  .info__block {
    max-height: 860px;
  }
}

@media screen and (max-width: 615px) {
  .boxes-transparent {
    top: -1450px;
  }
  .info__block {
    max-height: 1621px;
  }
}

@media screen and (max-width: 430px) {
  .karusel-box {
    margin-top: -590px;
    overflow: auto;
  }

  .karusel-box {
    margin-top: 0px;
    overflow: auto;
  }
  .info__block {
    max-height: 1621px;
  }
  .karusel__arrow {
    top: 105px;
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .boxes-transparent {
    top: -1450px;
  }
  .lable {
    width: 100%;
  }
  /* karusel */
  .karusel__footer-kontact h2 {
    color: var(--color-a);
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
  }
  .phons-kontact {
    font-size: 12px;
  }
  .descr {
    font-size: 14px;
  }
  .logo-kontact {
    margin-bottom: 40px;
  }
  .karusel-box {
    margin-top: -590px;
    overflow: auto;
  }
  .karusel__arrow {
    position: relative;
    top: -472px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    top: 88px;
    top: 105px;
    display: flex;
  }
  .karusel-box {
    margin-top: 0px;
    overflow: auto;
  }
  .info__block {
    max-height: 1635px;
  }
}

@media screen and (max-width: 375px) {
  lable {
    width: 100%;
  }
  input {
    width: 100%;
  }
  /* karusel */

  .karusel-box {
    margin-top: 0px;
    overflow: auto;
  }
  .info__block {
    max-height: 1635px;
  }
  .karusel__arrow {
    top: 105px;
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  lable {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .label-box {
    position: relative;
    width: 292px;
  }

  /* karusel */

  .karusel__footer-kontact h2 {
    color: var(--color-a);
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
  }
  .phons-kontact {
    font-size: 12px;
  }
  .descr {
    font-size: 12px;
  }
  .logo-kontact {
    margin-bottom: 40px;
  }

  .logo-kontact {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
  .karusel-box {
    margin-top: 0px;
    overflow: auto;
  }
  .info__block {
    max-height: 1635px;
  }
  .karusel__arrow {
    top: 86px;
    display: flex;
  }
}
/* --> */
