:root {
  --main-color: #9dc8bf;
  --color-a: #ffff;
}
a {
  color: var(--color-a);
  text-decoration: none;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  background-color: var(--main-color);
  font-family: sans-serif;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__nav-list li {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header__nav-list li :last-child {
  margin-right: 20px;
}
