:root {
  --main-color: #9dc8bf;
  --color-a: #ffff;
}
a {
  color: var(--color-a);
  text-decoration: none;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  background-color: var(--main-color);
  font-family: sans-serif;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.header__nav-list :hover {
  color: #0b332a;
  transition: all 0.5s ease;
}
.header__nav-list :focus {
  text-decoration: underline #bab2b2;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}
.header__nav-list li {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header__nav-list li :last-child {
  margin-right: 20px;
}

/* content */

.section {
  background-color: #d8f5f0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 630px;
}

.section__photo {
  margin-right: 40px;
}
.section__photo img {
  border-radius: 8%;
}

.section__title {
  font-weight: 300;
  font-size: 40px;
  color: #338273;
  margin: 0px 0px 18px 17px;
}
.section__blocks {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 150px 150px;
  gap: 60px;
  align-items: center;
  background-color: #338273;
  padding: 30px;
  width: 520px;
  height: 405px;
  border-radius: 5%;
  text-align: center;
}
.section__lines {
  position: relative;
}
.section__lines:before {
  content: '';
  height: 3px;
  width: 74vh;
  background: #fff;
  position: absolute;
  left: 4vh;
  top: 40vh;
  border-radius: 2px;
}
.section__lines:after {
  content: '';
  height: 55vh;
  width: 3px;
  background: #fff;
  position: absolute;
  left: 37vh;
  top: 14vh;
  border-radius: 2px;
}

.section__block {
  display: grid;
  grid-template-columns: 135px 119px;
  grid-template-rows: 94px;
  align-items: center;
  margin: auto;
}
.section__number {
  font-size: 80px;
  color: #c1f5ea;
}
.section__subtitle {
  font-size: 20px;
  color: #c1f5ea;
}

/* media queris */

@media screen and (max-width: 1024px) {
  .section__photo img {
    width: 65vh;
    height: 79vh;
  }
  .section__blocks {
    grid-template-columns: 100px 100px;
    grid-template-rows: 61px 150px;
    gap: 115px;
    width: 448px;
    height: 364px;
  }
  .section__number {
    font-size: 75px;
  }
  .section__block {
    grid-template-columns: 121px 119px;
    grid-template-rows: 94px;
  }
  .section__title {
    font-weight: 200;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: block;
    text-align: center;
  }
  .section__blocks {
    margin: 0 auto;
  }
  .section__lines:before {
    left: 24vh;
  }
  .section__lines::after {
    left: 58vh;
  }
  .header__nav-list {
    display: none; 
  }
}

@media screen and (max-width: 768px) {
  
}
